{% macro info(id, title, subtitle, text, icon, theme) %}
<div id="{{ id }}" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content shadow-3">
            <div class="modal-header border-bottom">
                <div class="icon icon-shape me-4 bg-{{ theme }} text-bg-{{ theme }} border border-{{ theme }} text-lg rounded">
                    <i class="bi {{ icon }}"></i>
                </div>
                <div>
                    <h5 class="card-title mb-1">{{ title | safe }}</h5>
                    <p class="text-sm text-body-secondary mt-0.5">{{ subtitle | safe }}</p>
                </div>
            </div>
            <div class="modal-body">
                {% for item in text %}
                <p>{{ item | safe }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endmacro %}