/* ========================= */
/* Login :: Pages */
/* ========================= */

#btn-new-password-view {
	width: 58px !important;
	height: 58px !important;
	padding: 0 !important;
	border-top-right-radius: 8px !important;
	border-bottom-right-radius: 8px !important;
	border-bottom-left-radius: 0 !important;
	border-top-left-radius: 0 !important;
}

#btn-new-password-view svg {
	font-size: 20px !important;
}

#btn-password-view {
	width: 58px !important;
	height: 58px !important;
	padding: 0 !important;
	border-top-right-radius: 8px !important;
	border-bottom-right-radius: 8px !important;
	border-bottom-left-radius: 0 !important;
	border-top-left-radius: 0 !important;
}

#btn-password-view svg {
	font-size: 20px !important;
}

#card-login {
	padding: 32px !important;
	border-radius: 8px !important;
	display: flex !important;
	flex-direction: column !important;
	justify-content: center !important;
	align-items: center !important;
}

#div-login-person {
	width: 100px !important;
	height: 100px !important;
	background-color: var(--bs-primary) !important;
	border-radius: 8px !important;
	display: flex !important;
	justify-content: center !important;
	align-items: center !important;
}

#div-login-person i {
	font-size: 50px !important;
	color: white !important;
	background-color: var(--bs-primary) !important;
	display: flex !important;
	justify-content: center !important;
	align-items: center !important;
}

#input-new-password {
	border-top-right-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
	border-bottom-left-radius: 8px !important;
	border-top-left-radius: 8px !important;
	border-right: 0 !important;
	display: flex !important;
	justify-content: start !important;
	align-items: center !important;
}

#input-password {
	border-top-right-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
	border-bottom-left-radius: 8px !important;
	border-top-left-radius: 8px !important;
	border-right: 0 !important;
	display: flex !important;
	justify-content: start !important;
	align-items: center !important;
}

/* ========================= */