/* ========================= */
/* Root */
/* ========================= */

:root {
	--primary: #4daa57;
}

::selection {
	color: var(--bs-primary);
	background-color: var(--bs-primary-bg-subtle);
}

body {
	font-family: 'Noto Sans', sans-serif !important;
}

/* ========================= */
