{% macro table(table_id) %}
<div id="{{ table_id }}" class="table-responsive table-custom">
    <table class="table table-nowrap">
        <thead class="">
            <tr>
                <th>Feature</th>
                <th>Value</th>
                <th>Contribution</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <div class="position-relative d-flex align-items-center gap-3">
                        <div>
                            <a class="stretched-link d-inline-block text-heading text-primary-hover fw-semibold" href="#">TechCorp Solutions</a>
                            <span class="d-block text-sm">techcorpsolutions.com</span>
                        </div>
                    </div>
                </td>
                <td>
                    <span class="badge text-info-emphasis bg-info-subtle border border-info-subtle rounded-pill">In Progress</span>
                </td>
                <td>
                    <div class="d-flex gap-4 align-items-center">
                        <div class="progress flex-fill">
                            <div class="progress-bar bg-primary" role="progressbar" style="width: 78%"></div>
                        </div>
                        <span class="fw-semibold text-sm">78%</span>
                    </div>
                </td>
                <td class="text-end">
                    <div class="dropdown">
                        <a class="text-muted" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-three-dots-vertical"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <span class="me-auto">Details</span>
                                    <i class="bi bi-ticket-detailed text-muted"></i>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <span class="me-auto">Settings</span>
                                    <i class="bi bi-gear text-muted"></i>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <span class="me-auto">Share</span>
                                    <i class="bi bi-share text-muted"></i>
                                </a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <a class="dropdown-item d-flex align-items-center text-danger" href="#">
                                    <span class="me-auto">Delete</span>
                                    <i class="bi bi-trash3 text-muted"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% endmacro %}